.hideScrollbar::-webkit-scrollbar {
  display: none;
}

dialog {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
}

.hideScrollbar {
  -ms-overflow-style: none;
}

.hideScrollbar::-webkit-scrollbar {
  display: none;
}

.hideScrollbar::-moz-scrollbar {
  display: none;
}
